# --- Python basics ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so



# --- Build & packaging ---
build/
dist/
*.egg-info/
.eggs/

# --- Jupyter / IPython ---
.ipynb_checkpoints/
*.ipynb_convert/

# --- Logs & temp files ---
*.log
*.tmp
*.swp



# --- Data outputs ---
attractions*.csv
*.parquet
*.xlsx
*.db

# --- System files ---
.DS_Store
Thumbs.db

# --- VS Code settings (optional) ---
.vscode/
.history/

# --- Terraform ---
Terraform/.terraform
cloud-2006-key.pem
Terraform

